<form>
  <!-- <next-range-selector
    [(ngModel)]="value2"
    name="range-selector2"
    [dotTpl]="dotTpl"
    [markTpl]="markTpl"
    [duration]="0"
    [borders]="borders"
    [disabled]="true"
    [marks]="true"
    [interval]="10"
  >
  </next-range-selector>
  <next-range-selector
    [(ngModel)]="value3"
    name="range-selector20"
    [dotTpl]="dotTpl"
    [markTpl]="markTpl"
    [duration]="0"
    [borders]="borders"
    [process]="true"
    [dotOptions]="dotOptions"
  >
  </next-range-selector> -->
  <next-range-selector
    [(ngModel)]="value4"
    name="range-selector21"
    [dotTpl]="dotTpl"
    [markTpl]="markTpl"
    [duration]="0.5"
    [borders]="borders"
    [marks]="true"
    [height]="6"
    [interval]="10"
  >
  </next-range-selector>
  <!-- <next-range-selector
    [(ngModel)]="value5"
    name="range-selector22"
    [dotTpl]="dotTpl"
    [markTpl]="markTpl"
    [duration]="0"
    [borders]="borders"
    [process]="false"
    [showBorders]="false"
  >
  </next-range-selector>

  <next-range-selector
    [(ngModel)]="value"
    [dotTpl]="dotTpl"
    [markTpl]="markTpl"
    name="range-selector31"
  ></next-range-selector>
  <next-range-selector
    [(ngModel)]="value"
    [dotTpl]="dotTpl"
    [markTpl]="markTpl"
    [direction]="'rtl'"
    name="range-selector32"
  ></next-range-selector> -->
  <next-range-selector
    [(ngModel)]="value2"
    [direction]="'btt'"
    [dotTpl]="dotTpl"
    [markTpl]="markTpl"
    [height]="300"
    [enableCross]="false"
    style="display: inline-block; margin: 30px;"
    name="range-selector33"
    [fixed]="true"
  ></next-range-selector>
  <next-range-selector
    [marks]="true"
    [(ngModel)]="value"
    [dotTpl]="dotTpl"
    [data]="data"
    [markTpl]="markTpl"
    [direction]="'ttb'"
    name="range-selector34"
    style="display: inline-block; margin: 30px; height: 300px;"
  ></next-range-selector>
  <next-range-selector
    [marks]="marks"
    [(ngModel)]="value3"
    [dotTpl]="dotTpl"
    [markTpl]="markTpl"
    [direction]="'ttb'"
    [minRange]="20"
    [maxRange]="50"
    name="range-selector35"
    style="display: inline-block; margin: 30px; height: 300px;"
  ></next-range-selector>
</form>

<ng-template #dotTpl>
  <div class="slider-dot">
    <div class="slider-dot-handle"></div>
  </div>
</ng-template>

<ng-template #markTpl let-mark="value">{{ mark }} </ng-template>
