$tooltipGap: 10px;

.vue-slider-dot {
  height: 14px;
  left: 58%;
  position: absolute;
  top: 50%;

  transform: translate(-50%, -50%);
  transition: all 0s;
  transition: left 0.5s ease 0s;
  width: 14px;
  will-change: transform;
  z-index: 5;
}

.vue-slider-dot-handle {
  -webkit-box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
  -webkit-box-sizing: border-box;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.vue-slider-dot-tooltip {
  position: absolute;
  visibility: hidden;

  &-show {
    visibility: visible;
  }

  &-top {
    left: 50%;
    top: -$tooltipGap;
    transform: translate(-50%, -100%);
  }

  &-bottom {
    bottom: -$tooltipGap;
    left: 50%;
    transform: translate(-50%, 100%);
  }

  &-left {
    left: -$tooltipGap;
    top: 50%;
    transform: translate(-100%, -50%);
  }

  &-right {
    right: -$tooltipGap;
    top: 50%;
    transform: translate(100%, -50%);
  }
}

$labelGap: 10px;

.vue-slider-marks {
  height: 100%;
  position: relative;
  width: 100%;
}

.vue-slider-mark {
  position: absolute;
  z-index: 1;

  @at-root .vue-slider-ltr &,
    .vue-slider-rtl & {
    height: 100%;
    top: 50%;
    width: 0;

    &-step {
      top: 0;
    }

    &-label {
      margin-top: $labelGap;
      top: 100%;
    }
  }

  @at-root .vue-slider-ltr & {
    transform: translate(-50%, -50%);

    &-step {
      left: 0;
    }

    &-label {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @at-root .vue-slider-rtl & {
    transform: translate(50%, -50%);

    &-step {
      right: 0;
    }

    &-label {
      right: 50%;
      transform: translateX(50%);
    }
  }

  @at-root .vue-slider-ttb &,
    .vue-slider-btt & {
    height: 0;
    left: 50%;
    width: 100%;

    &-step {
      left: 0;
    }

    &-label {
      left: 100%;
      margin-left: $labelGap;
    }
  }

  @at-root .vue-slider-btt & {
    transform: translate(-50%, 50%);

    &-step {
      top: 0;
    }

    &-label {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @at-root .vue-slider-ttb & {
    transform: translate(-50%, -50%);

    &-step {
      bottom: 0;
    }

    &-label {
      bottom: 50%;
      transform: translateY(50%);
    }
  }

  @at-root &-step,
    &-label {
    position: absolute;
  }
}
