<form>
  <next-range-selector [(ngModel)]="value2" name="range-selector2" [itemTpl]="itemTpl" [duration]="0">
  </next-range-selector>

  <next-range-selector [(ngModel)]="value" [itemTpl]="itemTpl" name="range-selector31"></next-range-selector>
  <next-range-selector
    [(ngModel)]="value"
    [itemTpl]="itemTpl"
    [direction]="'rtl'"
    name="range-selector32"
  ></next-range-selector>
  <next-range-selector
    [(ngModel)]="value"
    [direction]="'btt'"
    [itemTpl]="itemTpl"
    [height]="300"
    style="display: inline-block; margin: 30px;"
    name="range-selector33"
  ></next-range-selector>
  <next-range-selector
    [(ngModel)]="value"
    [itemTpl]="itemTpl"
    [direction]="'ttb'"
    name="range-selector34"
    style="display: inline-block; margin: 30px 0; height: 300px;"
  ></next-range-selector>
</form>

<ng-template let-item #itemTpl>
  <div class="slider-dot">
    <div class="slider-dot-handle"></div>
  </div>
</ng-template>
