$tooltipGap: 10px;

.slider-dot {
  height: 14px;
  left: 58%;
  position: absolute;
  top: 50%;

  transform: translate(-50%, -50%);
  transition: all 0s;
  transition: left 0.5s ease 0s;
  width: 14px;
  will-change: transform;
  z-index: 5;
}

.slider-dot-handle {
  -webkit-box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
  -webkit-box-sizing: border-box;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
